html {
    font-size: 16px;
    
  }

  h1 {
      font-size: 4rem;
      font-weight: normal;
      margin: 0;
      font-family: "Open Sans", sans-serif;
  }

  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
  }

  p, ul {
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  header, footer {
      display: block;
      height: auto;
      background-color: rgb(180, 187, 186);
      padding: 3rem 10%;
  }


  .about_me {
      display: flex;
      padding: 0 10%;
      height: 300px;
      background-color: rgb(231, 236, 236);
  }

  .headshot {
      justify-content: flex-start;
      padding: 1rem 0;
  }

  .spiel {
    padding: 0 1rem;
}

  .main {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      padding: 0 10% 0 10%;
  }